@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blanchedalmond;
  background-image: url(s.jpg);
}

.ctn{
  padding: 8px 15px;
  background: #DC143C;
  border-radius: 30px;
  color: aliceblue;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 430px;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-left: 52%;
}

.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper h2::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}

.wrapper form .input-box {
  height: 52px;
  margin: 18px 0;
}

form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-box input:focus, .input-box input:valid {
  border-color: #4070f4;
}

form .policy {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}

.input-box_button{
  top: 5px;
  left: 50%;
  align-items: center;
}
.input-box_button a {
  
  top: 5px;
  left: 50%;
  width: 40px;
  padding: 0px 15px;
  background: #0e4bf1;
  border-radius: 30px;
  color: aliceblue;
  text-decoration: none;
}

.input-box.button input:hover {
  background: #0e4bf1;
}

form .text h3 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}

form .text h3 a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .wrapper {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 90%;
    padding: 20px;
  }

  .wrapper h2 {
    font-size: 20px;
  }

  .wrapper h2::before {
    width: 24px;
  }

  form .input-box {
    margin: 12px 0;
  }

  form .input-box input {
    font-size: 16px;
  }
}